
.navbar {
    background-color: #25a514 !important;
    padding: 1rem;
  }
  .navbar-brand {
    color: #fff !important;
    font-size: 1.8rem;
  }
  
  .nav-link {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2rem;
  padding: 0.8rem;
  }
  
 
  .nav-link:hover {
    background-color: #bfe9c7; 
    color: #000; 
    border-radius: 5px; 
    padding: 5px 10px; 
  }
